<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678675233530-lf90r9uh2te0uuusebssma3gdhndve6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678675233530-lf90r9uh2te0uuusebssma3gdhndve6v</string>
	<key>API_KEY</key>
	<string>AIzaSyC9fZi4UNWfFyZi-1A7lNW7lTdB39zJVfU</string>
	<key>GCM_SENDER_ID</key>
	<string>678675233530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poolyTest</string>
	<key>PROJECT_ID</key>
	<string>organic-justice-296216</string>
	<key>STORAGE_BUCKET</key>
	<string>organic-justice-296216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678675233530:ios:c502eb6db19dfa7f40a743</string>
</dict>
</plist>